<body>

  <div class="container-fluid container-home">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="home">Welcome to APIcurious</h1>
      <%= link_to "Login with Github", "http://github.com/login/oauth/authorize?client_id=3e6ea24145d34703e914&scope=repo", class: "btn btn-lg btn-default btn-home" %>
    </div>
    <div class="col-md-2"></div>
  </div>
</body>
